/* Custom Navbar style */
.nav-item {
  position: relative;
}

.nav-item_title::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #f9cada;
  position: absolute;
  bottom: 0;
  right: -7px;
  border-radius: 50%;
  z-index: -1;
  transition: 0.5s;
}

.nav-item_link {
  transition: 0.3s;
}

.nav-item::after {
  content: " ";
  position: absolute;
  left: 0;
  border-radius: 20px;
  bottom: -4px;
  opacity: 0;
  width: 0;
  height: 2px;
  background-color: #f9cada;
  transition: 0.5s;
}
/* End of Custom Navbar style */

/* Custom Style Browse Room */
.loading-preview {
  @apply bg-gray-300;
  animation: loading 1s infinite ease;
}

@keyframes loading {
  from {
    background-color: #dddddd;
  }
  to {
    background-color: #eeeeee;
  }
}
/* End of Custom Style Browse Room */

@media only screen and (min-width: 1024px) {
  /* custom navbar style */
  .nav-item:hover .nav-item_link {
    color: #f9cada;
  }
  .nav-item:hover::after {
    opacity: 1;
    width: 100%;
  }
  /* end custom navbar style */
}
@media only screen and (max-width: 470px) {
  /* custom navbar style */
  .nav-item_title::after {
    display: none;
  }
  /* end custom navbar style */
}
